.blueIcon{
    color: #0dcaf0;
}
.oldData, .oldData .green1, .oldData .green2, .oldData .green3, .oldData .green4, .oldData .red, .oldData .starGreen, .oldData .eyeBlack {
    color: rgb(160, 158, 158);
    background-color: transparent !important; 
}

.audioButton{
    height: 40px;
    width: 40px;
}

.green1{
    background-color: #32de84 !important; 
    color: white;
}

.green2{
    background-color: #00AB66 !important; 
    color: white;
}

.green3{
    background-color: #006241 !important; 
    color: white;
}

.green4{
    background-color: #004526 !important; 
    color: white;
}
.red{
    background-color: #ff3333 !important; 
    color: white;
}

.starGreen {
    font-size: 1em;
    color: green;
    cursor: pointer
}

.eyeBlack{
    font-size: 1em;
    color: #333;
    cursor: pointer
}

.bellYellow {
    font-size: 1em;
    color: #ffcc00;
}

.alertBox{
    padding: 1em 0;
    color: #721c24;
    background-color: #f8d7da !important; 
    border-color: #f5c6cb;
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
}

.infoBox{
    padding: 1em 0;
    color: #41464b;
    background-color: #e2e3e5 !important; 
    border-color: #d3d6d8;
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
}

.bootstrap-tagsinput{
    display: inherit !important;
}

.bootstrap-tagsinput input{
    width: 60px !important;
    text-transform: uppercase;
}

.bootstrap-tagsinput .tag {
    color: #333 !important;
    background-color: #e9ecef;

}

form.alertForm{
    margin: 0 !important;
}

.smallForm.form-control{
    padding: 0.5em !important;
    height: 30px !important;
}
.alertForm input {
}