<html>
    <head>
        <link rel="icon" type="image/png" href="images/bull.png"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css"/>
        <script src="https://use.fontawesome.com/365512f0c3.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-tagsinput@0.7.1/dist/bootstrap-tagsinput.css">
    </head>
    <body>
        <div id="vapp">

            <!-- SOUND -->
            <div v-show="showAlert" class="alertBox" role="alert">
                <div class="container-fluid">
                    <span>
                        <strong class="text-left">Error</strong>
                        <button type="button" class="close float-right" v-on:click="showAlert = false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <span style="display: block" v-for="message in alertMessage">{{message}}</span></span>
                </div>
            </div>
            <div class="container-fluid">

                <!-- SOUND -->
                <div>
                <h5 class="ml-2 mt-3 text-blue">SETTINGS</h5>
                <div class="mt-3 form-inline">
                    <button class="btn btn-info audioButton" v-on:click="sound = !sound">
                        <span v-if="sound == true">
                            <i class="fa fa-volume-up"></i>
                        </span>
                        <span v-else>
                            <i class="fa fa-volume-off"></i></span></button>

                    <div class="input-group ml-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-retweet"></i>
                            </span>
                        </div>

                        <select v-on:input="secUpdate = $event.target.value; if ($event.target.value == 0){stopIntervals()}else{startIntervals()}" class="form-control">
                            <option value="0" selected>STOP</option>
                            <option value="10" selected>10s</option>
                            <option value="5">5s</option>
                            <option value="15">15s</option>
                            <option value="20">20s</option>
                        </select>
                    </div>
                </div>
                </div>
                <hr>
                <div class="mt-3 mb-3">
                <h5 class="ml-2 mt-3 text-blue">FILTER</h5>
                    <div class="row">
                        <div class="col">
                            <label>Minimum Volume</label>
                            <select v-on:input="minVolume = $event.target.value" class="form-control">
                                <option v-for="item in minVolumeArray" v-bind:value="item.value" :selected="item.value == minVolume">{{item.label}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Minimum price</label>
                            <select v-on:input="minPrice = $event.target.value" class="form-control">
                                <option v-for="item in priceArray" v-bind:value="item.value" :selected="item.value ==  minPrice">{{item.label}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Maximum price</label>
                            <select v-on:input="maxPrice = $event.target.value" class="form-control">
                                <option v-for="item in priceArray" v-bind:value="item.value" :selected="item.value == maxPrice">{{item.label}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Min Price Chge(¢)</label>
                            <select v-on:input="minPriceDiff = $event.target.value" class="form-control">
                                <option v-for="item in minPriceDiffArray" v-bind:value="item.value" :selected="item.value == minPriceDiff">{{item.label}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Min Price Chge(%)</label>
                            <select v-on:input="minPricePc = $event.target.value" class="form-control">
                                <option v-for="item in minPricePcArray" v-bind:value="item.value" :selected="item.value == minPricePc">{{item.label}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Min Volume Chge(%)</label>
                            <select v-on:input="minVolPc = $event.target.value" class="form-control">
                                <option v-for="item in minVolPcArray" v-bind:value="item.value" :selected="item.value == minVolPc">{{item.label}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- EXCLUDE TICKERS -->
                <div class="row">
                    <div class="col-2">
                        <label>Ticker(s) to exclude</label>
                    </div>
                    <div class="col">
                        <input type="text" id="excludedArray" data-role="tagsinput" class="form-control">
                    </div>
                </div>
                <hr>

                <!-- MOMO TABLE -->
                <div class="mt-3">
                    <h3 class="ml-2 mt-3 text-blue">MOMO</h3>
                    <table class="table text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Time</th>
                                <th scope="col">Symbol</th>
                                <th scope="col">Strategy</th>
                                <th scope="col">Price</th>
                                <th scope="col">Volume</th>
                                <th scope="col">Float</th>
                                <th scope="col">Float Ratio</th>
                                <th scope="col">Price Chge</th>
                                <th scope="col">Price Chge(%)</th>
                                <th scope="col">Volume Chge(%)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="snapshot in secSnapshot.slice(0,20)" v-bind:class="[$moment().diff($moment.unix(snapshot.time), 'seconds')>=secUpdate? 'oldData' : '']">
                                <td>{{$moment.unix(snapshot.time).tz("America/New_York").format("hh:mm:ss")}}</td>
                                <td>{{snapshot.symbol}}</td>
                                <td>{{snapshot.strategy}}</td>
                                <td>{{snapshot.updatePrice}}</td>
                                <td>
                                    <span v-if="snapshot.volume<1000000">{{Math.ceil(snapshot.volume/1000)}}k</span><span v-else>{{parseFloat(snapshot.volume/1000000).toFixed(1)}}M</span></td>
                                
                                <td v-bind:class="{'green1': (snapshot.float>=20000000 && snapshot.float<30000000) || (snapshot.float>=100000000 && snapshot.float<120000000), 'green2': (snapshot.float>=30000000 && snapshot.float<40000000) || (snapshot.float>=90000000 && snapshot.float<100000000), 'green3': (snapshot.float>=40000000 && snapshot.float<60000000) || (snapshot.float>=80000000 && snapshot.float<90000000), 'green4': snapshot.float>=60000000 && snapshot.float<80000000, 'red': snapshot.float<20000000}">
                                    <span v-if="snapshot.float<1000000">{{Math.ceil(snapshot.float/1000)}}k</span><span v-else>{{parseFloat(snapshot.float/1000000).toFixed(1)}}M</span></td>

                                <td v-bind:class="{'green1': snapshot.floatRatio>=0.5 && snapshot.floatRatio<1, 'green2': snapshot.floatRatio>=1 && snapshot.floatRatio<1.5, 'green3': snapshot.floatRatio>=1.5 && snapshot.floatRatio<2, 'green4': snapshot.floatRatio>=2}">{{snapshot.floatRatio}}</td>

                                <td v-bind:class="{'green1': snapshot.priceIncrease>=0.075 && snapshot.priceIncrease<0.10, 'green2': snapshot.priceIncrease>=0.10 && snapshot.priceIncrease<0.15, 'green3': snapshot.priceIncrease>=0.15 && snapshot.priceIncrease<0.20, 'green4': snapshot.priceIncrease>=0.20}">{{snapshot.priceIncrease}}$</td>

                                <td v-bind:class="{'green1': snapshot.priceIncreasePc>=1 && snapshot.priceIncrease<2, 'green2': snapshot.priceIncreasePc>=2 && snapshot.priceIncrease<3, 'green3': snapshot.priceIncreasePc>=3 && snapshot.priceIncrease<4, 'green4': snapshot.priceIncreasePc>=4}">{{snapshot.priceIncreasePc}}%</td>
                                <td v-bind:class="{'green1': snapshot.volumeChange>=2 && snapshot.volumeChange<5, 'green2': snapshot.volumeChange>=5 && snapshot.volumeChange<7.5, 'green3': snapshot.volumeChange>=7.5 && snapshot.volumeChange<10, 'green4': snapshot.volumeChange>=10, 'red': snapshot.volumeChange<0}">{{snapshot.volumeChange}}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--end vue app-->

        <!-- ********************************************************* 
                        *
                        SCRIPTS
                        *
                        ********************************************************* -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0/moment.min.js"></script>

        <script src="https://momentjs.com/downloads/moment-timezone-with-data.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-moment-lib@1.2.2/dist/vue-moment-lib.umd.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-tagsinput@0.7.1/dist/bootstrap-tagsinput.min.js"></script>
        <!-- ********************************************************* 
                        *
                        VUEJS
                        *
                        ********************************************************* -->
        <script>
            const vueApp = new Vue({

                components: {},
                el: '#vapp',

                data() {
                    return {
                        showAlert: false,
                        alertMessage: null,
                        FMP_API: "FMP_API_KEY",
                        items: null,
                        sound: true,
                        voice: 49,
                        excludedArray: [],
                        /* Google US English(49), Google UK English Female (50), Google UK English Male (51), Thomas (0), Alex (1), Alice (2) */
                        originalTimeout: null,
                        firstSecInterval: null,
                        oneMinInterval: null,
                        secInterval: null,
                        newOneMinInterval: null,
                        newSecInterval: null,
                        gettingOneMinSnapshot: false,
                        gettingSecSnapshot: false,
                        secUpdate: 10,
                        minVolume: 1000000,
                        minVolumeArray: [
                            {
                                value: 750000,
                                label: "750k"
                            }, {
                                value: 800000,
                                label: "800k"
                            }, {
                                value: 900000,
                                label: "900k"
                            }, {
                                value: 1000000,
                                label: "1M"
                            }, {
                                value: 1500000,
                                label: "1.5M"
                            }, {
                                value: 2000000,
                                label: "2M"
                            }
                        ],
                        maxVolume: 500000000,
                        priceArray: [
                            {
                                value: 0,
                                label: "0$"
                            }, {
                                value: 1,
                                label: "1$"
                            }, {
                                value: 2,
                                label: "2$"
                            }, {
                                value: 3,
                                label: "3$"
                            }, {
                                value: 4,
                                label: "4$"
                            }, {
                                value: 5,
                                label: "5$"
                            }, {
                                value: 6,
                                label: "6$"
                            }, {
                                value: 7,
                                label: "7$"
                            }, {
                                value: 8,
                                label: "8$"
                            }, {
                                value: 9,
                                label: "9$"
                            }, {
                                value: 10,
                                label: "10$"
                            }, {
                                value: 11,
                                label: "11$"
                            }, {
                                value: 12,
                                label: "12$"
                            }, {
                                value: 13,
                                label: "13$"
                            }, {
                                value: 14,
                                label: "14$"
                            }, {
                                value: 15,
                                label: "15$"
                            }, {
                                value: 16,
                                label: "16$"
                            }, {
                                value: 17,
                                label: "17$"
                            }, {
                                value: 18,
                                label: "18$"
                            }, {
                                value: 19,
                                label: "19$"
                            }, {
                                value: 20,
                                label: "20$"
                            }
                        ],
                        minPrice: 1,
                        maxPrice: 10,
                        minPriceDiff: 0.075,
                        minPriceDiffArray: [
                            {
                                value: 0.025,
                                label: "2.5¢"
                            },
                            {
                                value: 0.05,
                                label: "5¢"
                            }, {
                                value: 0.075,
                                label: "7.5¢"
                            }, {
                                value: 0.1,
                                label: "10¢"
                            }, {
                                value: 0.125,
                                label: "12.5¢"
                            }, {
                                value: 0.15,
                                label: "15¢"
                            }
                        ],
                        minPricePc: 0.75,
                        minPricePcArray: [
                            {
                                value: 0.25,
                                label: "0.25%"
                            }, {
                                value: 0.5,
                                label: "0.50%"
                            }, {
                                value: 0.75,
                                label: "0.75%"
                            }, {
                                value: 1,
                                label: "1%"
                            }, {
                                value: 1.25,
                                label: "1.25%"
                            }, {
                                value: 1.5,
                                label: "1.5%"
                            }, {
                                value: 1.75,
                                label: "1.75%"
                            }, {
                                value: 2,
                                label: "2%"
                            }
                        ],
                        minVolPc: 0.05,
                        minVolPcArray: [
                            {
                                value: 0,
                                label: "0%"
                            }, {
                                value: 0.05,
                                label: "0.05%"
                            }, {
                                value: 0.1,
                                label: "0.10%"
                            }, {
                                value: 0.25,
                                label: "0.25%"
                            }, {
                                value: 0.5,
                                label: "0.50%"
                            }, {
                                value: 0.75,
                                label: "0.75%"
                            }, {
                                value: 1,
                                label: "1%"
                            }, {
                                value: 5,
                                label: "5%"
                            }, {
                                value: 10,
                                label: "10%"
                            }, {
                                value: 20,
                                label: "20%"
                            }
                        ],
                        tickerArray: null,
                        shareFloatArray: null,
                        oneMinSnapshot: [],
                        fiveMinSnapshot: [],
                        secSnapshot: []
                    }
                },

                /***********************
                                *
                                * CREATED
                                *
                                ***********************/
                afterCreated() {},

                /***********************
                                *
                                * MOUNTED
                                *
                                ***********************/
                mounted: async function () {
                    /*
                    *1. Avoid annoying speechsynthesis error and alert that speech is activated. Remember that user needs to interact with the screen. A better option is to make an alert to make sure user interacts with page on load.
                    */
                    speechFunction = () => {
                        //alert("Speech will be activated")
                        var msg = new SpeechSynthesisUtterance();
                        var voices = speechSynthesis.getVoices();
                        msg.voice = voices[this.voice];
                        msg.rate = 0.9; // From 0.1 to 10
                        msg.lang = 'en';
                        msg.text = "Speech is activated";
                        window
                            .speechSynthesis
                            .speak(msg);
                    }
                    await speechFunction()

                    /*
                    *2. Getting JSON with symbols and share float
                    */
                    this.getFloatTickers()

                    /*
                    *3. Get list of tickers to observer
                    */
                    const a = await this.getTickerList(this.FMP_API)
                    this.tickerArray = a.tickerArray
                    if (Array.isArray(a.error) && a.error.length) {
                        this.alertMessage = a.error
                        this.showAlert = true
                    }

                    /*
                    *4. Compare ticker list to one minute and second values (making sure not to overlap each other => start at full minute and setTimeout for sec update, 8 seconds later)
                    */
                    await this.startIntervals()

                    /*
                    *5. Other
                    */

                    // Input for stop watching stocks
                    //https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/examples/
                    $('#excludedArray').on('beforeItemAdd', (event) => {
                        if (event.item !== event.item.toUpperCase()) {
                            event.cancel = true;
                            $('#excludedArray').tagsinput('add', event.item.toUpperCase());
                        }
                    });

                    $('#excludedArray').on('itemAdded', (event) => {
                        console.log("Item to add " + event.item)
                        this
                            .excludedArray
                            .push(event.item)
                        console.log("Items in stop watch " + this.excludedArray)
                    });
                    $('input').on('itemRemoved', (event) => {
                        console.log("Item to remove " + event.item)
                        this.excludedArray = this
                            .excludedArray
                            .filter(item => item !== event.item)
                        console.log("Items in stop watch " + this.excludedArray)
                    });

                },

                watch: {},

                methods: {

                    /** GET JSON WITH SYMBOLS AND SHARE FLOAT **/
                    getFloatTickers() {
                        var error = []
                        console.log("GETTING JSON WITH SYMBOLS AND SHARE FLOAT ")
                        floatTickersUrl = "https://7ak-public.s3.amazonaws.com/floatTickers.json"
                        //var floatTickers = await (await fetch(floatTickersUrl)).json();
                        //console.log("JSON is " + JSON.stringify(floatTickers))
                        axios
                            .get(floatTickersUrl)
                            .then((response) => {
                                this.shareFloatArray = response.data
                                //console.log("array from remote " + JSON.stringify(this.shareFloatArray))
                            })
                            .catch((e) => {
                                error.push("Getting float and tickers error " + e)
                                this.alertMessage = error
                                this.showAlert = true
                            });
                    },

                    //GET TICKER LIST
                    getTickerList(param) {
                        console.log("GETTING TICKER LIST ")
                        return new Promise(function (resolve) {
                            var error = []
                            url = "https://financialmodelingprep.com/api/v3/stock-screener"
                            axios
                                .get(url, {
                                    params: {
                                        marketCapLowerThan: 2000000000,
                                        volumeLessThan: 500000000,
                                        exchange: 'NYSE,NASDAQ,amex',
                                        apikey: param
                                    }
                                })
                                .then(response => {
                                    if (typeof response.data[0] === 'undefined' || response.data[0] === null) {
                                        console.log(" -> Ticker array is null")
                                        error.push("Ticker array is null")
                                    }
                                    if (typeof response.data["Error Message"] != 'undefined' || response.data["Error Message"] != null) {
                                        console.log(" -> Error retrieving with FMP " + JSON.stringify(response.data["Error Message"]))
                                        error.push(response.data["Error Message"])
                                    }
                                    var tickerArray = []
                                    //console.log(" -> full ticker list " + JSON.stringify(response.data))
                                    for (key in response.data) {

                                        tickerArray.push(response.data[key].symbol)
                                    }
                                    //console.log(" -> Ticker list : " + tickerArray)
                                    resolve({tickerArray, error})

                                })
                                .catch(e => {
                                    error.push("axios error: " + e.message)
                                    console.log("error " + e)
                                    resolve({error})
                                })
                            })
                    },

                    //START INTERVALS
                    startIntervals() {
                        this.stopIntervals()
                        console.log("STARTING TIMER WITH 1 MIN AND " + this.secUpdate + " SEC INTERVAL")
                        //console.log(" -> Ticker array : " + JSON.stringify(this.tickerArray))
                        var date = new Date();
                        console.log((60 - date.getSeconds()) + " seconds left to full minute")

                        this.originalTimeout = setTimeout(() => { //setTimeout = wait for full minute to start

                            var minuteDate = new Date();
                            //the first time the page loads, we launch already the first 1 minute function
                            console.log("it's the first full minute")
                            this.getSnapshot("oneMin")

                            //1 MINUTE INTERVAL
                            oneMinFunction = () => {
                                this.oneMinInterval = setInterval(() => {
                                    this.gettingOneMinSnapshot = true
                                    if (this.gettingSecSnapshot == false) {
                                        var minuteDate = new Date();
                                        //console.log("it's a new full minute and minutes left to full 05 is " + minuteDate.getMinutes() + " and divided is " + (minuteDate.getMinutes() % 5))
                                        this.getSnapshot("oneMin")
                                    } else {
                                        console.log("Sec Snapshot is running")
                                        clearInterval(this.oneMinInterval)
                                        this.newOneMinInterval = setTimeout(oneMinFunction, 300); // try again in 300 milliseconds
                                    }
                                }, 60 * 1000);
                            }
                            oneMinFunction()

                            //SECONDS INTERVAL (can be updated via variable)
                            secFunction = () => {
                                console.log("it's the first sec update")
                                this.getSnapshot("secUpdate")
                                this.secInterval = setInterval(() => {
                                    this.gettingSecSnapshot = true
                                    if (this.gettingOneMinSnapshot == false) {
                                        this.getSnapshot("secUpdate")
                                    } else {
                                        console.log("OneMin Snapshot is running. Setting new interval")
                                        clearInterval(this.secInterval)
                                        this.newSecInterval = setTimeout(secFunction, 8000); // try again in 300 milliseconds
                                    }
                                    //console.log("it's a new " + this.secUpdate + "second update")

                                }, this.secUpdate * 1000);
                            }
                            this.firstSecInterval = setTimeout(secFunction, 8000)

                        }, (60 - date.getSeconds()) * 1000);

                    },

                    //STOP INTERVALS
                    stopIntervals() {
                        console.log("CLEARING TIMEOUT AND INTERVALS")
                        clearTimeout(this.originalTimeout)
                        clearTimeout(this.firstSecInterval)
                        clearInterval(this.oneMinInterval)
                        clearInterval(this.secInterval)
                        clearTimeout(this.newOneMinInterval)
                        clearTimeout(this.newSecInterval)
                    },

                    //GET SNAPSHOTS (1 MINUTE AND SECONDS)
                    getSnapshot(param) {
                        var error = []
                        var date = new Date();
                        console.log(param.toUpperCase() + " SNAPSHOT at " + date.getSeconds())
                        if (param == "fiveMin") {
                            this.fiveMinSnapshot = []
                        }
                        if (param == "oneMin") {
                            this.oneMinSnapshot = []
                        }
                        if (param == "secUpdate") {
                            if (!!this.secSnapshot && this.secSnapshot.find(secItem => moment().diff(moment.unix(secItem.time), 'seconds') >= this.secUpdate && moment().diff(moment.unix(secItem.time), 'seconds') < 2 * this.secUpdate)) {
                                //console.log("last secupdate array is " + JSON.stringify(this.secSnapshot.find(secItem => moment().diff(moment.unix(secItem.time), 'seconds') >= this.secUpdate && moment().diff(moment.unix(secItem.time), 'seconds') < 2 * this.secUpdate)))
                            }
                        }
                        var i
                        var j = 1
                        var maxNumber = this.tickerArray.length
                        var maxBatch = 1500
                        var numIterations = maxNumber / maxBatch
                        //console.log("Ticker array lenght " + this.tickerArray.length)
                        for (i = 0; i < maxNumber; i += maxBatch) {
                            let nextBatch
                            let url
                            //console.log("ITERATION " + (i + 1) + " to " + (i + maxBatch))
                            if ((maxNumber - i) >= maxBatch) {
                                nextBatch = maxBatch
                            } else { // this is last loop
                                nextBatch = maxNumber - i
                            }

                            url = "https://financialmodelingprep.com/api/v3/quote/" + this
                                .tickerArray
                                .slice(i, (i + nextBatch))
                            //console.log("URL is " + url)
                            axios
                                .get(url, {
                                    params: {
                                        apikey: this.FMP_API
                                    }
                                })
                                .then(response => {
                                    console.log(" -> " + param.toUpperCase() + " data retrieved from FMP")
                                    //console.log("response "+JSON.stringify(response.data))
                                    if (param == "fiveMin" || param == "oneMin") {
                                        var minVol = this.minVolume
                                        var maxVol = this.maxVolume
                                        var minPx = this.minPrice
                                        var maxPx = this.maxPrice

                                        var filterData = response
                                            .data
                                            .filter((fil) => {
                                                return fil.price >= minPx && fil.price <= maxPx && fil.volume >= minVol && fil.volume < maxVol && fil.marketCap < 2000000000
                                            });

                                        if (param == "fiveMin") {
                                            this.fiveMinSnapshot = [
                                                ...this.fiveMinSnapshot,
                                                ...filterData
                                            ]
                                        }
                                        if (param == "oneMin") {
                                            //console.log("oneMin iteration " + j )
                                            if (j >= numIterations) { //getting last iteration
                                                this.gettingOneMinSnapshot = false
                                            }
                                            this.oneMinSnapshot = [
                                                ...this.oneMinSnapshot,
                                                ...filterData
                                            ]
                                            /**/
                                            ++j
                                        }
                                    }
                                    if (param == "secUpdate") {
                                        response
                                            .data
                                            .forEach(updateItem => {

                                                /* Check if One min snapshot exists and that symbol exists in both one min and sec snapshot */
                                                if (!!this.oneMinSnapshot && this.oneMinSnapshot.find(oneMinItem => oneMinItem.symbol === updateItem.symbol) != undefined) {

                                                    /* Find the whole object of the symbol that matches */
                                                    var oneMinObject = this
                                                        .oneMinSnapshot
                                                        .find(oneMinItem => oneMinItem.symbol === updateItem.symbol)
                                                    //console.log("There is a match. one min object is " + JSON.stringify(oneMinObject) + " and updateItem object is " + JSON.stringify(updateItem))
                                                    var priceDiff = updateItem.price - oneMinObject.price
                                                    var pricePc = ((updateItem.price - oneMinObject.price) / oneMinObject.price) * 100
                                                    var volumePc = ((updateItem.volume - oneMinObject.volume) / oneMinObject.volume) * 100
                                                    console.log("-> priceDiff "+priceDiff+", volume pc "+volumePc+ "and min vol pc "+this.minVolPc)
                                                    

                                                    /* Check if symobol is in exclude array */
                                                    var tickerExcluded = this
                                                        .excludedArray
                                                        .includes(updateItem.symbol)

                                                    /* If requirements are met and symbol/ticker is not marked as excluded, include in MOMO table */
                                                    if (priceDiff >= this.minPriceDiff && pricePc >= this.minPricePc && volumePc >= this.minVolPc && tickerExcluded == false) {
                                                        console.log(" -> MOMO data")
                                                        console.log("-> priceDiff "+priceDiff+", volume pc "+volumePc+ "and min vol pc "+this.minVolPc)
                                                        if (this.sound) {
                                                            var msg = new SpeechSynthesisUtterance();
                                                            var voices = speechSynthesis.getVoices();
                                                            msg.voice = voices[this.voice];
                                                            msg.rate = 0.9; // From 0.1 to 10
                                                            msg.lang = 'en';
                                                            msg.text = updateItem.symbol;
                                                            window
                                                                .speechSynthesis
                                                                .speak(msg);
                                                        }

                                                        var tempSec = {}

                                                        /* Let's search for float in json */
                                                        var shareFloatSearch = this
                                                            .shareFloatArray
                                                            .find(el => el.symbol === updateItem.symbol)
                                                        //console.log("ticker float from JSON is symbol " + shareFloatSearch["symbol"] + " and float " + shareFloatSearch["shsFloat"]);
                                                        if (typeof shareFloatSearch === 'undefined' || shareFloatSearch === null) {
                                                            shareFloat = null
                                                        } else {
                                                            shareFloat = shareFloatSearch["shsFloat"]
                                                        }

                                                        //Let's create the secSnapshot json
                                                        tempSec.time = updateItem.timestamp
                                                        tempSec.symbol = updateItem.symbol
                                                        tempSec.strategy = "Price up 1mn"
                                                        tempSec.snapPrice = parseFloat(oneMinObject.price).toFixed(2)
                                                        tempSec.updatePrice = parseFloat(updateItem.price).toFixed(2)
                                                        tempSec.volume = updateItem.volume
                                                        tempSec.float = shareFloat
                                                        if (shareFloat == null || shareFloat == 0) {
                                                            tempSec.floatRatio = 0
                                                        } else {
                                                            tempSec.floatRatio = parseFloat(updateItem.volume / shareFloat).toFixed(2)
                                                        }
                                                        tempSec.priceIncrease = parseFloat(priceDiff).toFixed(2)
                                                        tempSec.priceIncreasePc = parseFloat(pricePc).toFixed(2)
                                                        tempSec.volumeChange = parseFloat(volumePc).toFixed(2)

                                                        //console.log("temp " + JSON.stringify(tempSec))
                                                        /**/
                                                        this
                                                            .secSnapshot
                                                            .unshift(tempSec)

                                                    }
                                                }
                                            })
                                        if (j >= numIterations) { //getting last sec iteration
                                            //console.log("it's the last Sec iteration")
                                            this.gettingSecSnapshot = false
                                        }
                                        ++j
                                    }

                                })
                                .catch(e => {
                                    error.push(param + " snapshot " + e)
                                    this.alertMessage = error
                                    this.showAlert = true
                                    console.log(" -> " + param.toUpperCase() + " shapshot error " + e)
                                })

                            }

                    }
                }
            })
        </script>
    </body>
</html>