<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="medias/bull.png"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css"/>
        <script src="https://use.fontawesome.com/365512f0c3.js"></script>
        <script src="https://global.oktacdn.com/okta-signin-widget/5.3.3/js/okta-sign-in.min.js" type="text/javascript"></script>
        <link href="https://global.oktacdn.com/okta-signin-widget/5.3.3/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-tagsinput@0.7.1/dist/bootstrap-tagsinput.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.css">
    </head>
    <body>
        <div id="vapp">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <img class="navbar-brand" src="medias/bull.png"/>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul v-show="loggedInn == true" class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li v-if="oktaApp == false" class="nav-item">
                                <img class="profileImg" v-bind:src="profileUrl"/>
                            </li>
                            <li v-else class="nav-item">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img class="profileImg" v-bind:src="profileUrl"/></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" v-on:click="oktaLogout()">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--<span v-if="alertArray.find(element => element.ticker == 'KXIN') != undefined">
                <span v-show="alertArray.find(element => element.ticker == 'KXIN').alert" class="bellYellow">
                    <i class="fa fa-bell"></i>
                </span>
            </span>-->
            <!-- INFO
            <div v-show="showInfo" class="infoBox" role="alert">
                <div class="container-fluid">
                    <span>
                        <strong class="text-left">INFO</strong>
                        <button type="button" class="btn-close float-end" v-on:click="showInfo = false"></button>
                        <span style="display: block" v-for="message in infoMessage">{{message}}</span></span>
                </div>
            </div> -->
            <!-- ALERT -->
            <div v-show="showAlert" class="alertBox" role="alert">
                <div class="container-fluid">
                    <span>
                        <strong class="text-left">ERROR</strong>
                        <button type="button" class="btn-close float-end" v-on:click="showAlert = false"></button>
                        <span style="display: block" v-for="message in alertMessage">{{message}}</span></span>
                </div>
            </div>

            <!-- OKTA -->
            <!-- where the sign-in form will be displayed -->
            <div id="okta-login-container"></div>

            <!-- BODY -->
            <div v-show="loggedInn == true" class="container-fluid">

                <!-- SETTINGS -->
                <div class="mt-2">
                    <!-- title -->
                    <div class="mb-2">
                        <h5 class="ms-2 me-3 d-inline">SETTINGS</h5>
                        <a class="d-inline" v-on:click="showSettings = !showSettings">
                            <span v-if="showSettings">
                                <i class="blueIcon fa fa-caret-down"></i>
                            </span>
                            <span v-else>
                                <i class="blueIcon fa fa-caret-up"></i>
                            </span>
                        </a>
                    </div>

                    <div v-show="showSettings">
                        <!-- setting 1: sound, time... -->
                        <div class="me-1 row align-items-center mb-3">
                            <div class="col-auto">
                                <button class="btn btn-info audioButton" v-on:click="sound = !sound">
                                    <span v-if="sound == true">
                                        <i class="fa fa-volume-up"></i>
                                    </span>
                                    <span v-else>
                                        <i class="fa fa-volume-off"></i></span></button>
                            </div>

                            <div class="col-auto">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa fa-retweet"></i>
                                    </span>

                                    <select v-on:input="secUpdate = $event.target.value; if ($event.target.value == 0){stopIntervals()}else{startIntervals()}" class="form-select">
                                        <option v-for="item in secUpdateArray" v-bind:value="item.value" v-bind:selected="item.value == secUpdate">{{item.label}}</option>
                                    </select>

                                    <span class="input-group-text">@</span>
                                    <select v-on:input="newSecIntervalTimeout = $event.target.value; startIntervals()" class="form-select">
                                        <option v-for="item in newSecIntervalTimeoutArray" v-bind:value="item.value" v-bind:selected="item.value == newSecIntervalTimeout">{{item.label}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-auto">
                                <button @click="clearLocalStorage">Reset Default</button>
                            </div>
                        </div>

                        <!-- setting 2: colors 
                            <form @submit.prevent="addColors" class="row g-3 align-items-center">
                                <h6>Colors</h6>
                                <!-- IF 
                                <div class="row mb-1">
                                    <div class="col-3">
                                        <select v-model="colorsType" class="form-select" aria-label="Default select example">
                                            <option value=null selected>IF</option>
                                            <option value="price">Price</option>
                                            <option value="volume">Volume</option>
                                            <option value="float">Float</option>
                                            <option value="priceChge">Price Chge</option>
                                            <option value="priceChgePc">Price Chge (%)</option>
                                            <option value="volChgePc">Volume Chge (%)</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <select v-model="colorsHighLow1" class="form-select">
                                            <option v-for="hl in highLowArray" v-bind:value="hl.value">{{hl.text}}</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <input v-model="colorsValue1" type="number" step="0.01" class="form-control">
                                    </div>
                                    <div class="col-1">
                                        <i @click="showAndOr1 = true" class="fa fa-plus-circle"></i>
                                    </div>

                                    <!-- THEN

                                    <div class="col-3">
                                        <select v-model="colorsColor" class="form-select">
                                            <option value=null selected>THEN</option>
                                            <option v-for="col in colorArray" v-bind:value="col.value">{{col.text}}</option>
                                        </select>
                                    </div>

                                    <div class="col-1">
                                        <button type="submit" class="btn btn-outline-success">ADD</button>
                                    </div>
                                </div>
                                <!-- AND/OR 1
                                <div v-show="showAndOr1" class="row mb-1">
                                    <div class="col-2 offset-1">
                                        <select v-model="andOr1" class="form-select">
                                            <option v-for="oa in orAnd" v-bind:value="oa.value">{{oa.text}}</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <select v-model="colorsHighLow2" class="form-select">
                                            <option v-for="hl in highLowArray" v-bind:value="hl.value">{{hl.text}}</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <input v-model="colorsValue2" type="number" class="form-control">
                                    </div>
                                    <div class="col-1">
                                        <i @click="showAndOr2 = true" class="fa fa-plus-circle"></i>
                                        <i @click="showAndOr1 = false; andOr1=null; colorsHighLow2=null; colorsValue2=null" class="fa fa-minus-circle"></i>
                                    </div>
                                </div>

                                <!-- AND/OR 2 
                                <div v-show="showAndOr2" class="row mb-1">
                                    <div class="col-2 offset-1">
                                        <select v-model="andOr2" class="form-select">
                                            <option v-for="oa in orAnd" v-bind:value="oa.value">{{oa.text}}</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <select v-model="colorsHighLow3" class="form-select">
                                            <option v-for="hl in highLowArray" v-bind:value="hl.value">{{hl.text}}</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <input v-model="colorsValue3" type="number" class="form-control">
                                    </div>
                                    <div class="col-1">
                                        <i @click="showAndOr3 = true" class="fa fa-plus-circle"></i>
                                        <i @click="showAndOr2 = false; andOr2=null; colorsHighLow3=null; colorsValue3=null" class="fa fa-minus-circle"></i>
                                    </div>
                                </div>

                                <!-- AND/OR 3
                                <div v-show="showAndOr3" class="row mb-1">
                                    <div class="col-2 offset-1">
                                        <select v-model="andOr3" class="form-select">
                                            <option v-for="oa in orAnd" v-bind:value="oa.value">{{oa.text}}</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <select v-model="colorsHighLow4" class="form-select">
                                            <option v-for="hl in highLowArray" v-bind:value="hl.value">{{hl.text}}</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <input v-model="colorsValue4" type="number" class="form-control">
                                    </div>
                                    <div class="col-1">
                                        <i @click="showAndOr3 = false; andOr3=null; colorsHighLow4=null; colorsValue4=null" class="fa fa-minus-circle"></i>
                                    </div>
                                </div>
                            </form>

                            <!-- color list
                            <div class="col-6">
                                <table class="table text-center">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Element</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <td v-bind:class="colors['price'].map( (obj, index) => { if(index == 0){return '{' + obj.css} else if(colors['price'].length-1 == index){return obj.css + '}'} else{return obj.css} } ).join(', ')">{{colors['price'].map( (obj, index) => { if(index == 0){return '{' + obj.css} else if(colors['price'].length-1 == index){return obj.css + '}'} else{return obj.css} } ).join(', ')}}</td>
                                    </tbody>
                                </table>
                            </div>-->
                        <!-- end colors settings -->
                        <!-- Existing colors 
                        <div class="row">
                            <div v-for="(color, index) in colors" class="col-auto">
                                <span>{{index}}</span>
                                <i class="fa fa-info-circle" @click="colorModal = index" data-bs-toggle="modal" data-bs-target="#colorModal"></i>
                            </div>
                        </div>-->
                        <!-- Color modal -->
                        <div class="modal fade" id="colorModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div v-for="item in colors[colorModal]" class="modal-body row">
                                        <div class="col-1">
                                            <i class="fa fa-square" v-bind:class="item.color"></i>
                                        </div>
                                        <div class="col-11">
                                            {{item.desc}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end show/hide setting -->
                </div>
                <!-- end settings -->
                <hr>

                <!-- FILTER -->
                <div class="me-3 mb-3">
                    <h5 class="ms-2 me-3 d-inline">FILTER</h5>
                    <a class="d-inline" v-on:click="showFilter = !showFilter">
                        <span v-if="showFilter">
                            <i class="blueIcon fa fa-caret-down"></i>
                        </span>
                        <span v-else>
                            <i class="blueIcon fa fa-caret-up"></i>
                        </span>
                    </a>
                    <div v-show="showFilter" class="row">
                        <!--<div v-for="filter in filterArray" class="col">
                            <label>{{filter.label}}</label>
                            <select v-on:input="eval(filter.range) = $event.target.value" class="form-select">
                                <option v-for="item in eval(filter.array)" v-bind:value="item.value" v-bind:selected="item.value == eval(filter.range)">{{item.label}}</option>
                            </select>
                        </div>-->
                        <div class="col">
                            <label>Minimum Volume</label>
                            <select v-on:input="minVolume = $event.target.value" class="form-select">
                                <option v-for="item in minVolumeArray" v-bind:value="item.value" :selected="item.value == minVolume">{{item.label}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Minimum price</label>
                            <select v-on:input="minPrice = $event.target.value" class="form-select">
                                <option v-for="item in priceArray" v-bind:value="item.value" :selected="item.value ==  minPrice">{{item.label}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Maximum price</label>
                            <select v-on:input="maxPrice = $event.target.value" class="form-select">
                                <option v-for="item in priceArray" v-bind:value="item.value" :selected="item.value == maxPrice">{{item.label}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Min Price Chge(¢)</label>
                            <select v-on:input="minPriceDiff = $event.target.value" class="form-select">
                                <option v-for="item in minPriceDiffArray" v-bind:value="item.value" :selected="item.value == minPriceDiff">{{item.label}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Min Price Chge(%)</label>
                            <select v-on:input="minPricePc = $event.target.value" class="form-select">
                                <option v-for="item in minPricePcArray" v-bind:value="item.value" :selected="item.value == minPricePc">{{item.label}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Min Volume Chge(%)</label>
                            <select v-on:input="minVolPc = $event.target.value" class="form-select">
                                <option v-for="item in minVolPcArray" v-bind:value="item.value" :selected="item.value == minVolPc">{{item.label}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- UNFOLLOW, FOLLOW, ALERT TICKERS -->
                <div class="row">
                    <!-- UNFOLLOW -->
                    <div class="col-3">
                        <label class="mb-2">Ticker(s) to unfollow</label>
                        <span class="eyeBlack">
                            <i class="fa fa-eye-slash"></i>
                        </span>
                        <input type="text" id="unfollowArray" v-bind:value="unfollowArray.join()" data-role="tagsinput" class="form-select" >
                    </div>
                    <!-- FOLLOW TICKERS -->
                    <div class="col-3">
                        <label class="mb-2">Ticker(s) to follow</label>
                        <span class="starGreen">
                            <i class="fa fa-star"></i>
                        </span>
                        <input type="text" id="followArray" v-bind:value="followArray.join()" data-role="tagsinput" class="form-select">
                    </div>
                    <!-- ALERT TICKERS -->
                    <div class="col-6 row">
                        <div class="col-auto">
                            <label class="mb-2">Ticker Alerts</label>
                            <span class="bellYellow">
                                <i class="fa fa-bell"></i>
                            </span>
                        </div>
                        <form v-on:keyup.enter="addAlert" class="col alertForm input-group">
                            <input oninput="this.value = this.value.toUpperCase()" v-model="alertTicker" id="alertTicker" type="text" placeholder="ticker" class="smallForm form-control">
                            <input v-model="alertPrice" id="alertPrice" type="number" placeholder="price alert" class="smallForm form-control">
                        </form>
                        <input type="text" id="alertArray" v-bind:value="alertArray.join()" data-role="tagsinput" class="form-select">
                    </div>
                </div>
                <hr>

                <!-- MOMO TABLE -->
                <div class="me-3">
                    <div class="row">
                        <div class="col-auto">
                            <h3 class="ms-2 me-3 text-blue">MOMO</h3>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fa fa-retweet"></i>
                                </span>
                                <input type="text" class="form-control" v-bind:value="secCountdown" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Symbol</th>
                            <th scope="col">Price</th>
                            <th scope="col">Day High</th>
                            <th scope="col">Volume</th>
                            <th scope="col">Float</th>
                            <!--<th scope="col">Float Ratio</th>-->
                            <th scope="col">Price Chge</th>
                            <th scope="col">Price Chge(%)</th>
                            <th scope="col">Volume Chge(%)</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(snapshot, index) in secSnapshot.slice(0,20)" v-bind:class="[$moment().diff($moment.unix(snapshot.time), 'seconds')>=(secUpdate-1)? 'oldData' : '']">
                            <!-- If data is older than secupdate minus 1 second, then it's old data -->
                            <td>{{$moment.unix(snapshot.time).tz("America/New_York").format("hh:mm:ss")}}</td>

                            <!-- SYMBOL -->
                            <td>{{snapshot.symbol}}
                                <span v-show="followArray.includes(snapshot.symbol)" class="starGreen">
                                    <i class="fa fa-star"></i>
                                </span>
                                <span v-if="alertArray.find(element => element.ticker == snapshot.symbol) != undefined">
                                    <span v-show="alertArray.find(element => element.ticker == snapshot.symbol).alert" class="bellYellow">
                                        <i class="fa fa-bell"></i>
                                    </span>
                                </span>
                            </td>

                            <!-- PRICE -->
                            <td v-bind:class="snapshot.price_color">{{snapshot.updatePrice}}</td>

                            <!-- DAY HIGH -->
                            <td>{{snapshot.dayHigh}} ({{snapshot.dayHighRatio}})</td>

                            <!-- VOLUME -->
                            <td v-bind:class="snapshot.volume_color">
                                <span v-if="snapshot.volume<1000000">{{Math.ceil(snapshot.volume/1000)}}k</span><span v-else>{{parseFloat(snapshot.volume/1000000).toFixed(1)}}M</span></td>

                            <!-- FLOAT -->
                            <td v-bind:class="snapshot.float_color">
                                <span v-if="snapshot.float<1000000">{{Math.ceil(snapshot.float/1000)}}k</span><span v-else>{{parseFloat(snapshot.float/1000000).toFixed(1)}}M</span></td>

                            <!-- FLOAT RATIO
                                <td v-bind:class="{'green1': snapshot.floatRatio>=0.5 && snapshot.floatRatio<1, 'green2': snapshot.floatRatio>=1 && snapshot.floatRatio<1.5, 'green3': snapshot.floatRatio>=1.5 && snapshot.floatRatio<2, 'green4': snapshot.floatRatio>=2}">{{snapshot.floatRatio}}</td>-->

                            <!-- PRICE CHANGE -->
                            <td v-bind:class="snapshot.priceChange_color">{{snapshot.priceIncrease}}$</td>

                            <!-- PRICE CHANGE % -->
                            <td v-bind:class="snapshot.priceChangePc_color">{{snapshot.priceIncreasePc}}%</td>

                            <!-- VOLUME CHANGE % -->
                            <td v-bind:class="snapshot.volumeChangePc_color">{{snapshot.volumeChange}}%</td>

                            <!-- UNFOLLOW -->
                            <td v-on:click="addUnFollow(snapshot.symbol)">
                                <span class="eyeBlack">
                                    <i class="fa fa-eye-slash"></i></span></td>

                            <!-- FOLLOW -->
                            <td v-on:click="addFollow(snapshot.symbol)">
                                <span class="starGreen">
                                    <i class="fa fa-star"></i></span></td>

                            <!-- CHART--
                            <td>
                                <div v-bind:id="'chart'+index" v-bind:key="createChart(snapshot.chartData, index)"></div>
                            </td>-->

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--end vue app-->

    <!-- ********************************************************* 
                        *
                        SCRIPTS
                        *
                        ********************************************************* -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@latest/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0/moment.min.js"></script>

    <script src="https://momentjs.com/downloads/moment-timezone-with-data.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-moment-lib@1.2.2/dist/vue-moment-lib.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-tagsinput@latest/dist/bootstrap-tagsinput.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@latest/dayjs.min.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>