<html>
    <head>
        <link rel="icon" type="image/png" href="images/bull.png"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css"/>
        <script src="https://use.fontawesome.com/365512f0c3.js"></script>
    </head>
    <body>
        <div id="vapp">
            <div class="container-fluid">

                <!-- SOUND -->
                <div class="mt-3 form-inline">
                    <button class="btn btn-info audioButton" v-on:click="sound = !sound">
                        <span v-if="sound == true">
                            <i class="fa fa-volume-up"></i>
                        </span>
                        <span v-else>
                            <i class="fa fa-volume-off"></i></span></button>

                    <div class="input-group ml-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-retweet"></i>
                            </span>
                        </div>

                        <select v-on:input="secUpdate = $event.target.value; if ($event.target.value == 0){stopIntervals()}else{startIntervals()}" class="form-control">
                            <option value="0" selected>STOP</option>
                            <option value="10" selected>10s</option>
                            <option value="5">5s</option>
                            <option value="15">15s</option>
                            <option value="20">20s</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="mt-3 mb-3">
                    <div class="row">
                        <div class="col">
                            <label>Minimum Volume</label>
                            <select v-on:input="minVolume = $event.target.value" class="form-control">
                                <option v-for="item in minVolumeArray" v-bind:value="item.value" :selected="item.value == minVolume">{{item.label}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Minimum price</label>
                            <select v-on:input="minPrice = $event.target.value" class="form-control">
                                <option v-for="item in priceArray" v-bind:value="item.value" :selected="item.value ==  minPrice">{{item.label}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Maximum price</label>
                            <select v-on:input="maxPrice = $event.target.value" class="form-control">
                                <option v-for="item in priceArray" v-bind:value="item.value" :selected="item.value == maxPrice">{{item.label}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Minimum increase(¢)</label>
                            <select v-on:input="minPriceDiff = $event.target.value" class="form-control">
                                <option v-for="item in minPriceDiffArray" v-bind:value="item.value" :selected="item.value == 0.1">{{item.label}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Minimum increase(%)</label>
                            <select v-on:input="minPricePc = $event.target.value" class="form-control">
                                <option v-for="item in minPricePcArray" v-bind:value="item.value" :selected="item.value == 1">{{item.label}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="mt-3">
                    <h3 class="ml-2 mt-3 text-blue">MOMO</h3>
                    <table class="table text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Time</th>
                                <th scope="col">Symbol</th>
                                <th scope="col">Strategy</th>
                                <th scope="col">Price</th>
                                <th scope="col">Volume</th>
                                <th scope="col">Float</th>
                                <th scope="col">Float Ratio</th>
                                <th scope="col">Price Chge</th>
                                <th scope="col">Price Chge(%)</th>
                                <th scope="col">Volume Chge(%)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="snapshot in secSnapshot.slice(0,20)" v-bind:class="[$moment().diff($moment.unix(snapshot.time), 'seconds')>=secUpdate? 'oldData' : '']">
                                <td>{{$moment.unix(snapshot.time).tz("America/New_York").format("hh:mm:ss")}}</td>
                                <td>{{snapshot.symbol}}</td>
                                <td>{{snapshot.strategy}}</td>
                                <td>{{snapshot.updatePrice}}</td>
                                <td>
                                    <span v-if="snapshot.volume<1000000">{{Math.ceil(snapshot.volume/1000)}}k</span><span v-else>{{parseFloat(snapshot.volume/1000000).toFixed(1)}}M</span></td>
                                <td v-bind:class="{'green1': snapshot.float>=20000000 && snapshot.float<30000000, 'green2': snapshot.float>=30000000 && snapshot.float<40000000, 'green3': snapshot.float>=40000000 && snapshot.float<80000000, 'green2': snapshot.float>=80000000 && snapshot.float<90000000, 'green1': snapshot.float>=90000000 && snapshot.float<100000000, 'red': snapshot.float<20000000}">
                                    <span v-if="snapshot.float<1000000">{{Math.ceil(snapshot.float/1000)}}k</span><span v-else>{{parseFloat(snapshot.float/1000000).toFixed(1)}}M</span></td>

                                <td v-bind:class="{'green1': snapshot.floatRatio>=0.5 && snapshot.floatRatio<1, 'green2': snapshot.floatRatio>=1 && snapshot.floatRatio<1.5, 'green3': snapshot.floatRatio>=1.5 && snapshot.floatRatio<2, 'green4': snapshot.floatRatio>=2}">{{snapshot.floatRatio}}</td>

                                <td v-bind:class="{'green1': snapshot.priceIncrease>=0.075 && snapshot.priceIncrease<0.10, 'green2': snapshot.priceIncrease>=0.10 && snapshot.priceIncrease<0.15, 'green3': snapshot.priceIncrease>=0.15 && snapshot.priceIncrease<0.20, 'green4': snapshot.priceIncrease>=0.20}">{{snapshot.priceIncrease}}$</td>

                                <td v-bind:class="{'green1': snapshot.priceIncreasePc>=1 && snapshot.priceIncrease<2, 'green2': snapshot.priceIncreasePc>=2 && snapshot.priceIncrease<3, 'green3': snapshot.priceIncreasePc>=3 && snapshot.priceIncrease<4, 'green4': snapshot.priceIncreasePc>=4}">{{snapshot.priceIncreasePc}}%</td>
                                <td v-bind:class="{'green1': snapshot.volumeChange>=2 && snapshot.volumeChange<5, 'green2': snapshot.volumeChange>=5 && snapshot.volumeChange<7.5, 'green3': snapshot.volumeChange>=7.5 && snapshot.volumeChange<10, 'green4': snapshot.volumeChange>=10, 'red': snapshot.volumeChange<0}">{{snapshot.volumeChange}}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--end vue app-->

        <!-- ********************************************************* 
                        *
                        SCRIPTS
                        *
                        ********************************************************* -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0/moment.min.js"></script>

        <script src="https://momentjs.com/downloads/moment-timezone-with-data.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-moment-lib@1.2.2/dist/vue-moment-lib.umd.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.17.10/dist/tagify.min.js"></script>

        <!-- ********************************************************* 
                        *
                        VUEJS
                        *
                        ********************************************************* -->
        <script>
            const vueApp = new Vue({

                components: {}, el: '#vapp',
                /***********************
                                *
                                * DATA
                                *
                                ***********************/
                data() {
                    return {
                        FMP_API: "FMP_API_KEY",
                        sound: true,
                        voice: 49,
                        originalTimeout: null,
                        firstSecInterval: null,
                        oneMinInterval: null,
                        secInterval: null,
                        newOneMinInterval: null,
                        newSecInterval: null,
                        gettingOneMinSnapshot: false,
                        gettingSecSnapshot: false,
                        secUpdate: 10,
                        minVolume: 750000,
                        minVolumeArray: [
                            {
                                value: 250000,
                                label: "250k"
                            }, {
                                value: 300000,
                                label: "300k"
                            }, {
                                value: 400000,
                                label: "400k"
                            }, {
                                value: 500000,
                                label: "500k"
                            }, {
                                value: 600000,
                                label: "600k"
                            }, {
                                value: 750000,
                                label: "750k"
                            }, {
                                value: 800000,
                                label: "800k"
                            }, {
                                value: 900000,
                                label: "900k"
                            }, {
                                value: 1000000,
                                label: "1M"
                            }
                        ],
                        maxVolume: 500000000,
                        priceArray: [
                            {
                                value: 0,
                                label: "0$"
                            }, {
                                value: 1,
                                label: "1$"
                            }, {
                                value: 2,
                                label: "2$"
                            }, {
                                value: 3,
                                label: "3$"
                            }, {
                                value: 4,
                                label: "4$"
                            }, {
                                value: 5,
                                label: "5$"
                            }, {
                                value: 6,
                                label: "6$"
                            }, {
                                value: 7,
                                label: "7$"
                            }, {
                                value: 8,
                                label: "8$"
                            }, {
                                value: 9,
                                label: "9$"
                            }, {
                                value: 10,
                                label: "10$"
                            }, {
                                value: 11,
                                label: "11$"
                            }, {
                                value: 12,
                                label: "12$"
                            }, {
                                value: 13,
                                label: "13$"
                            }, {
                                value: 14,
                                label: "14$"
                            }, {
                                value: 15,
                                label: "15$"
                            }, {
                                value: 16,
                                label: "16$"
                            }, {
                                value: 17,
                                label: "17$"
                            }, {
                                value: 18,
                                label: "18$"
                            }, {
                                value: 19,
                                label: "19$"
                            }, {
                                value: 20,
                                label: "20$"
                            }
                        ],
                        minPrice: 1,
                        maxPrice: 12,
                        minPriceDiff: 0.1,
                        minPriceDiffArray: [
                            {
                                value: 0.05,
                                label: "5¢"
                            }, {
                                value: 0.075,
                                label: "7.5¢"
                            }, {
                                value: 0.1,
                                label: "10¢"
                            }, {
                                value: 0.125,
                                label: "12.5¢"
                            }, {
                                value: 0.15,
                                label: "15¢"
                            }
                        ],
                        minPricePc: 1,
                        minPricePcArray: [
                            {
                                value: 0.5,
                                label: "0.5%"
                            }, {
                                value: 0.75,
                                label: "0.75%"
                            }, {
                                value: 1,
                                label: "1%"
                            }, {
                                value: 1.25,
                                label: "1.25%"
                            }, {
                                value: 1.5,
                                label: "1.5%"
                            }, {
                                value: 1.75,
                                label: "1.75%"
                            }, {
                                value: 2,
                                label: "2%"
                            }
                        ],
                        tickerArray: null,
                        shareFloatArray: null,
                        oneMinSnapshot: [],
                        fiveMinSnapshot: [],
                        secSnapshot: []
                    }
                },

                /***********************
                                *
                                * CREATED
                                *
                                ***********************/
                beforeCreated() {},

                /***********************
                                *
                                * MOUNTED
                                *
                                ***********************/
                mounted: async function () {
                    /*
                    *1. Getting JSON with symbols and share float
                    */
                    this.getFloatTickers()

                    /*
                    *2. Get list of tickers to observer
                    */
                    this.tickerArray = await this.getTickerList(this.FMP_API)

                    /*
                    *3. Compare ticker list to one minute and second values (making sure not to overlap each other => start at full minute and setTimeout for sec update, 8 seconds later)
                    */
                    await this.startIntervals()

                    /*
                    *4. Avoid annoying speechsynthesis error
                    */
                    const ut = new SpeechSynthesisUtterance('No warning should arise');
                    speechSynthesis.speak(ut);

                },

                /***********************
                                *
                                * WATCH
                                *
                                ***********************/
                watch: {},

                /***********************
                                *
                                * METHODS
                                *
                                ***********************/
                methods: {

                    //GET JSON WITH SYMBOLS AND SHARE FLOAT
                    getFloatTickers() {
                        console.log("GETTING JSON WITH SYMBOLS AND SHARE FLOAT ")
                        floatTickersUrl = "https://7ak-public.s3.amazonaws.com/floatTickers.json"
                        //var floatTickers = await (await fetch(floatTickersUrl)).json();
                        //console.log("JSON is " + JSON.stringify(floatTickers))
                        axios
                            .get(floatTickersUrl)
                            .then((response) => {
                                this.shareFloatArray = response.data
                                //console.log("array from remote " + JSON.stringify(this.shareFloatArray))
                            })
                            .then(() => {
                                /*console
                                    .log("THEN array from remote " + JSON.stringify(this.shareFloatArray))
                                var ticker = this
                                    .shareFloatArray
                                    .find(el => el.symbol === "STTK");
                                console.log("ticker float from JSON is symbol " + ticker["symbol"] + " and float " + ticker["shsFloat"]);*/
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    },

                    //GET TICKER LIST
                    getTickerList(param) {
                        console.log("GETTING TICKER LIST ")
                        return new Promise(function (resolve) {
                            url = "https://financialmodelingprep.com/api/v3/stock-screener"
                            axios
                                .get(url, {
                                    params: {
                                        marketCapLowerThan: 2000000000,
                                        volumeLessThan: 500000000,
                                        exchange: 'NYSE,NASDAQ,amex',
                                        apikey: param
                                    }
                                })
                                .then(response => {
                                    var tickerArray = []
                                    //console.log(" -> full ticker list " + JSON.stringify(response.data))
                                    for (key in response.data) {

                                        tickerArray.push(response.data[key].symbol)
                                    }
                                    //console.log(" -> Ticker list : " + tickerArray)
                                    resolve(tickerArray)

                                })
                                .catch(e => {

                                    console.log("error " + e)
                                })
                            })
                    },

                    //START INTERVALS
                    startIntervals() {
                        this.stopIntervals()
                        console.log("STARTING TIMER WITH 1 MIN AND " + this.secUpdate + " SEC INTERVAL")
                        //console.log(" -> Ticker array : " + JSON.stringify(this.tickerArray))
                        var date = new Date();
                        console.log((60 - date.getSeconds()) + " seconds left to full minute")

                        this.originalTimeout = setTimeout(() => { //setTimeout = wait for full minute to start

                            var minuteDate = new Date();
                            //the first time the page loads, we launch already the first 1 minute function
                            console.log("it's the first full minute")
                            this.getSnapshot("oneMin")

                            //1 MINUTE INTERVAL
                            oneMinFunction = () => {
                                this.oneMinInterval = setInterval(() => {
                                    this.gettingOneMinSnapshot = true
                                    if (this.gettingSecSnapshot == false) {
                                        var minuteDate = new Date();
                                        //console.log("it's a new full minute and minutes left to full 05 is " + minuteDate.getMinutes() + " and divided is " + (minuteDate.getMinutes() % 5))
                                        this.getSnapshot("oneMin")
                                    } else {
                                        console.log("Sec Snapshot is running")
                                        clearInterval(this.oneMinInterval)
                                        this.newOneMinInterval = setTimeout(oneMinFunction, 300); // try again in 300 milliseconds
                                    }
                                }, 60 * 1000);
                            }
                            oneMinFunction()

                            //SECONDS INTERVAL (can be updated via variable)
                            secFunction = () => {
                                console.log("it's the first sec update")
                                this.getSnapshot("secUpdate")
                                this.secInterval = setInterval(() => {
                                    this.gettingSecSnapshot = true
                                    if (this.gettingOneMinSnapshot == false) {
                                        this.getSnapshot("secUpdate")
                                    } else {
                                        console.log("OneMin Snapshot is running. Setting new interval")
                                        clearInterval(this.secInterval)
                                        this.newSecInterval = setTimeout(secFunction, 8000); // try again in 300 milliseconds
                                    }
                                    //console.log("it's a new " + this.secUpdate + "second update")

                                }, this.secUpdate * 1000);
                            }
                            this.firstSecInterval = setTimeout(secFunction, 8000)

                        }, (60 - date.getSeconds()) * 1000);

                    },

                    //STOP INTERVALS
                    stopIntervals() {
                        console.log("CLEARING TIMEOUT AND INTERVALS")
                        clearTimeout(this.originalTimeout)
                        clearTimeout(this.firstSecInterval)
                        clearInterval(this.oneMinInterval)
                        clearInterval(this.secInterval)
                        clearTimeout(this.newOneMinInterval)
                        clearTimeout(this.newSecInterval)
                    },

                    //GET SNAPSHOTS (1 MINUTE AND SECONDS)
                    getSnapshot(param) {
                        var date = new Date();
                        console.log(param.toUpperCase() + " SNAPSHOT at " + date.getSeconds())
                        if (param == "fiveMin") {
                            this.fiveMinSnapshot = []
                        }
                        if (param == "oneMin") {
                            this.oneMinSnapshot = []
                        }
                        if (param == "secUpdate") {
                            if (!!this.secSnapshot && this.secSnapshot.find(secItem => moment().diff(moment.unix(secItem.time), 'seconds') >= this.secUpdate && moment().diff(moment.unix(secItem.time), 'seconds') < 2 * this.secUpdate)) {
                                //console.log("last secupdate array is " + JSON.stringify(this.secSnapshot.find(secItem => moment().diff(moment.unix(secItem.time), 'seconds') >= this.secUpdate && moment().diff(moment.unix(secItem.time), 'seconds') < 2 * this.secUpdate)))
                            }
                        }
                        var i
                        var j = 1
                        var maxNumber = this.tickerArray.length
                        var maxBatch = 1500
                        var numIterations = maxNumber / maxBatch
                        //console.log("Ticker array lenght " + this.tickerArray.length)
                        for (i = 0; i < maxNumber; i += maxBatch) {
                            let nextBatch
                            let url
                            //console.log("ITERATION " + (i + 1) + " to " + (i + maxBatch))
                            if ((maxNumber - i) >= maxBatch) {
                                nextBatch = maxBatch
                            } else { // this is last loop
                                nextBatch = maxNumber - i
                            }

                            url = "https://financialmodelingprep.com/api/v3/quote/" + this
                                .tickerArray
                                .slice(i, (i + nextBatch))
                            //console.log("URL is " + url)
                            axios
                                .get(url, {
                                    params: {
                                        apikey: this.FMP_API
                                    }
                                })
                                .then(response => {
                                    console.log(" -> " + param.toUpperCase() + " data retrieved from FMP")
                                    //console.log("response "+JSON.stringify(response.data))
                                    if (param == "fiveMin" || param == "oneMin") {
                                        var minVol = this.minVolume
                                        var maxVol = this.maxVolume
                                        var minPx = this.minPrice
                                        var maxPx = this.maxPrice

                                        var filterData = response
                                            .data
                                            .filter(function (fil) {
                                                return fil.price >= minPx && fil.price <= maxPx && fil.volume >= minVol && fil.volume < maxVol && fil.marketCap < 2000000000
                                            });
                                        if (param == "fiveMin") {
                                            this.fiveMinSnapshot = [
                                                ...this.fiveMinSnapshot,
                                                ...filterData
                                            ]
                                        }
                                        if (param == "oneMin") {
                                            //console.log("oneMin iteration " + j )
                                            if (j >= numIterations) { //getting last iteration
                                                this.gettingOneMinSnapshot = false
                                            }
                                            this.oneMinSnapshot = [
                                                ...this.oneMinSnapshot,
                                                ...filterData
                                            ]
                                            /**/
                                            ++j
                                        }
                                    }
                                    if (param == "secUpdate") {
                                        response
                                            .data
                                            .forEach(updateItem => {
                                                if (!!this.oneMinSnapshot && this.oneMinSnapshot.find(oneMinItem => oneMinItem.symbol === updateItem.symbol) != undefined) {
                                                    var oneMinObject = this
                                                        .oneMinSnapshot
                                                        .find(oneMinItem => oneMinItem.symbol === updateItem.symbol)
                                                    //console.log("There is a match. one min object is " + JSON.stringify(oneMinObject) + " and updateItem object is " + JSON.stringify(updateItem))
                                                    var priceDiff = updateItem.price - oneMinObject.price
                                                    var pricePc = ((updateItem.price - oneMinObject.price) / oneMinObject.price) * 100
                                                    var volumePc = ((updateItem.volume - oneMinObject.volume) / oneMinObject.volume) * 100
                                                    //console.log("volume pc "+volumePc)
                                                    if (priceDiff >= this.minPriceDiff && pricePc >= this.minPricePc && volumePc > 0) {
                                                        console.log(" -> MOMO data")
                                                        if (this.sound) {
                                                            //console.log ("sound is ON so text to speech")
                                                            /* Google US English(49), Google UK English Female (50), Google UK English Male (51), Thomas (0), Alex (1), Alice (2) */
                                                            var msg = new SpeechSynthesisUtterance();
                                                            var voices = speechSynthesis.getVoices();
                                                            msg.voice = voices[49];
                                                            msg.rate = 0.9; // From 0.1 to 10
                                                            msg.lang = 'en';
                                                            msg.text = updateItem.symbol;
                                                            window
                                                                .speechSynthesis
                                                                .speak(msg);
                                                        }

                                                        var tempSec = {}
                                                        //console.log("ONE MIN COMPARISON\nPrice increase of 10 cents or more for symbol " + updateItem.symbol + ". Old price " + oneMinObject.price + " and new price " + updateItem.price + " so increase of " + (updateItem.price - oneMinObject.price))
                                                        //console.log(" -> Stock " + updateItem.symbol + " has Float " + response.data)

                                                        //Let's search for float in json
                                                        var shareFloatSearch = this
                                                            .shareFloatArray
                                                            .find(el => el.symbol === updateItem.symbol)
                                                        //console.log("ticker float from JSON is symbol " + shareFloatSearch["symbol"] + " and float " + shareFloatSearch["shsFloat"]);
                                                        if (typeof shareFloatSearch === 'undefined' || shareFloatSearch === null) {
                                                            shareFloat = null
                                                        } else {
                                                            shareFloat = shareFloatSearch["shsFloat"]
                                                        }

                                                        //Let's create the secSnapshot json
                                                        tempSec.time = updateItem.timestamp
                                                        tempSec.symbol = updateItem.symbol
                                                        tempSec.strategy = "Price up 1mn"
                                                        tempSec.snapPrice = parseFloat(oneMinObject.price).toFixed(2)
                                                        tempSec.updatePrice = parseFloat(updateItem.price).toFixed(2)
                                                        tempSec.volume = updateItem.volume
                                                        tempSec.float = shareFloat
                                                        if (shareFloat == null || shareFloat == 0) {
                                                            tempSec.floatRatio = 0
                                                        } else {
                                                            tempSec.floatRatio = parseFloat(updateItem.volume / shareFloat).toFixed(2)
                                                        }
                                                        tempSec.priceIncrease = parseFloat(priceDiff).toFixed(2)
                                                        tempSec.priceIncreasePc = parseFloat(pricePc).toFixed(2)
                                                        tempSec.volumeChange = parseFloat(volumePc).toFixed(2)

                                                        //console.log("temp " + JSON.stringify(tempSec))
                                                        /**/
                                                        this
                                                            .secSnapshot
                                                            .unshift(tempSec)

                                                    }
                                                }
                                            })
                                        if (j >= numIterations) { //getting last sec iteration
                                            //console.log("it's the last Sec iteration")
                                            this.gettingSecSnapshot = false
                                        }
                                        ++j
                                    }

                                })
                                .catch(e => {

                                    console.log(" -> " + param.toUpperCase() + " shapshot error " + e)
                                })

                            }

                    }
                }
            })
        </script>
    </body>
</html>